html,
body {
    height: 100%;
    ;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
/*----- HOME PAGE STYLES -----*/

#homeTitle {
    font-family: 'syncopate';
    font-weight: 700;
    color: black;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
}

body {
    background-color: rgb(238, 234, 229);
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#enterLink {
    font-size: 25px;
    padding: 1rem;
    letter-spacing: 3px;
    text-align: center;
}

.hoverLink {
    font-family: 'syncopate';
    color: black;
}

.hoverLink:link {
    text-decoration: none;
}

.hoverLink:hover {
    color: rgb(108, 108, 108);
    font-weight: 700;
}

.welcomeBody {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 6em auto 1fr;
    margin-left: 1em;
    margin-right: 1em;
}

#homeTitle {
    grid-column: 1 / 4;
    justify-items: center;
    align-self: center;
}

.iframe-container {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

#enterLink {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-items: center;
    margin-top: 1em;
}

/*----- END OF HOME PAGE STYLES -----*/


/*----- NAV BAR STYLES -----*/
.bigNav {
    display: none;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'syncopate';
    background-color: black;
}

.logo {
    color: rgb(238, 234, 229);
    letter-spacing: 5px;
    font-size: 20px;
}

body {
    overflow-x: hidden;
}

.navLinks {
    position: absolute;
    right: 0px;
    height: 40vh;
    top: 8vh;
    background-color: black;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 25%;
    transform: translateX(100%);
}

.navLinks li {
    opacity: 0;
}

.burger {
    display: block;
    cursor: pointer;
}

.nav-active {
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: rgb(238, 234, 229);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}


.burger div {
   width: 25px;
   height: 2px;
   background-color: rgb(238, 234, 229);
   margin: 5px;
}




.footNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    padding: 1em;
    justify-items: center;
    background-color: black;
    font-family: 'syncopate';
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}

.bottomLink {
    text-decoration: none;
    color: rgb(238, 234, 229);
    font-size: 12px;
}

.bottomLink:hover {
    color: rgb(230, 158, 58);
    font-weight: 700;
    cursor: pointer;
}



/*----- ABOUT PAGE STYLES -----*/


.aboutTitle {
    font-family: 'syncopate';
    display: grid;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 30px;
    font-weight: 700;
}

.aboutTitle {
    display: none;
}



.underTitle {
    display: grid;
    text-align: center;
    font-family: 'lato';
    font-size: 10px;
    letter-spacing: 3px;
    margin: 2em;
}

.aboutPhoto {
    display: grid;
    justify-content: center;
}

#shopView {
    max-width: 100%;
}

.history {
    font-family: 'lato';
    font-size: 20px;
    letter-spacing: 1px;
    background-color: black;
    color: rgb(238, 234, 229);
    text-align: center;
    margin: 2em;
    padding: 1em;
}

.insideShop {
    display: grid;
    justify-items: center;
}

#inside {
    max-width: 100%;
    margin: 2em;
}

.aboutCollage {
    display: grid;
    justify-items: center;
}

#artWall {
    max-width: 100%;
}

#employees {
    max-width: 100%;
    margin: 2em;
}


/*----- END OF ABOUT PAGE STYLES -----*/



/*----- BRANDS PAGE STYLES -----*/

.productsPhoto {
    display: grid;
    justify-content: center;
}

#productsHeader {
    max-width: 100%;
    margin-top: 2em;
}

.productInfo {
    font-family: 'lato';
    font-size: 20px;
    letter-spacing: 1px;
    background-color: black;
    color: rgb(238, 234, 229);
    text-align: center;
    margin: 2em;
    padding: 1em;
}

.underInfo {
    display: grid;
    justify-content: center;
}

#dimeGear {
    max-width: 100%;
}

.productCollage {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 2em;
    justify-items: center;
}

#vans {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#glassCase {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#polarTowel {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#thrasher {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#FAgear {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#FAboards {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#antiHero {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

#spitfire {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}

#trucks {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 9 / 10;
}

#polar {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 10 / 11;
}

#baker {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 11 / 12;
}

#shopCorner {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 12 / 13;
}




/*----- END OF BRANDS PAGE STYLES -----*/




/*----- TEAM PAGE STYLES -----*/

.teamPhoto {
    display: grid;
    justify-content: center;
}

#teamHeader {
    max-width: 100%;
    margin-top: 2em;
}

.teamInfo {
    font-family: 'lato';
    font-size: 20px;
    letter-spacing: 1px;
    background-color: black;
    color: rgb(238, 234, 229);
    text-align: center;
    margin: 2em;
    padding: 1em;
}

.teamGallery {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-rows: repeat(9, 1fr);
    row-gap: 2em;
    justify-items: center;
}

#willBSflip {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#brooksNoseslide {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#zachAir {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#daltonDrop {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#cotie50 {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    align-self: center;
}

#zachFeeble {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    align-self: center;
}

#ryanBSflip {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

#willKrook {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    align-self: center;
}

#daltonSmith {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 9 / 10;
}


/*----- END OF TEAM PAGE STYLES -----*/

/*----- CONTACT PAGE STYLES -----*/

.contactInfo {
    font-family: 'lato';
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 2em;
    padding: 1em;
}

.shopLogo {
    display: grid;
    justify-content: center;
}

#logo {
    max-width: 100%;
    margin-top: 2em;
}

#overlay {
    font-family: 'lato';
}

form {
    max-width: 550px;
    width: 90%;
    margin: 17vh auto 0 auto;
    padding: 20px;
    border-radius: 3px;
    box-sizing: border-box;
}

label {
    display: block;
    margin: 20px 0;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid black;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid rgb(230, 158, 58);
}

textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(230, 158, 58);
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 90%;
    max-width: 200px;
    font-family: 'lato';
    cursor: pointer;
    border-radius: 3px;
}

.error {
    color: red;
}

.error-border {
    border-bottom: 1px solid red;
}

#success {
    color: green;
}



/*----- END CONTACT PAGE STYLES -----*/


/*----- RETURN PAGE STYLES -----*/

.returnInfo {
    font-family: 'lato';
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 2em;
    padding: 1em;

}

/*----- END RETURN PAGE STYLES -----*/

/*----- PRIVACY PAGE STYLES -----*/

.privacyInfo {
    font-family: 'lato';
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin: 2em;
    padding: 1em;

}




/*----- END PRIVACY PAGE STYLES -----*/

@media only screen and (min-width: 768px) {


    /*----- HOME PAGE MEDIA -----*/
    #homeTitle {
        font-size: 40px;
    }


    .welcomeBody {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 4em 4em 1fr;
        margin-left: 3em;
        margin-right: 3em;
    }

    #homeTitle {
        grid-column: 1 / 4;
        justify-items: center;
        align-self: center;
    }

    .iframe-container {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    #enterLink {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-items: center;
        align-self: center;
        padding-bottom: 2em;
    }


    /*----- END HOME PAGE MEDIA -----*/


    /*----- NAV MEDIA -----*/
    .navBar {
        display: none;
    }

   .burger {
        display: none;
    }


    
    

    .bigNav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column: 1 / 5;
        padding: 1em;
        justify-items: center;
        background-color: black;
        font-family: 'syncopate';
        justify-content: center;
    }
    
    .topLink {
        text-decoration: none;
        color: rgb(238, 234, 229);
        font-size: 25px;
    }
    
    .topLink:hover {
        color: rgb(230, 158, 58);
        font-weight: 700;
        cursor: pointer;
    }
    



    /*----- END NAV MEDIA -----*/



    /*----- ABOUT PAGE MEDIA -----*/

    .aboutTitle {
        display: grid;
    }


    .aboutCollage {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
    }

    #artWall {
        max-width: 100%;
        grid-column: 1 / 3;
        align-self: center;
    }

    #employees {
        max-width: 100%;
        grid-column: 3 / 5;
        justify-self: center;
    }

    .bottomLink {
        text-decoration: none;
        color: rgb(238, 234, 229);
        font-size: 20px;
    }


    /*----- END ABOUT PAGE MEDIA -----*/



    /*----- BRANDS PAGE MEDIA -----*/

    .productCollage {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        column-gap: 1em;
        row-gap: 1em;
        justify-items: center;
    }

    #vans {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #glassCase {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #polarTowel {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #thrasher {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #FAgear {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #FAboards {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #antiHero {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #spitfire {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #trucks {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    #polar {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    #baker {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    #shopCorner {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }



    /*----- END BRANDS PAGE MEDIA -----*/


    /*----- TEAM PAGE MEDIA -----*/

    .teamGallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        column-gap: 1em;
        row-gap: 1em;
    }

    #willBSflip {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #brooksNoseslide {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2
    }

    #zachAir {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #daltonDrop {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #cotie50 {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #zachFeeble {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #ryanBSflip {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #daltonSmith {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #willKrook {
        max-width: 100%;
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        align-self: center;
    }





}



@media only screen and (min-width: 1024px) {


    /*----- BRANDS PAGE MEDIA -----*/

    .productCollage {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 1em;
        row-gap: 1em;
        justify-items: center;
    }

    #vans {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #glassCase {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #polarTowel {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    #thrasher {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #FAgear {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #FAboards {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #antiHero {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #spitfire {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #trucks {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    #polar {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #baker {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #shopCorner {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }



    /*----- END BRANDS PAGE MEDIA -----*/






    /*----- TEAM PAGE MEDIA -----*/

    .teamGallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 1em;
        row-gap: 1em;
    }

    #willBSflip {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #zachAir {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #brooksNoseslide {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 1 / 2
    }

    #cotie50 {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #daltonDrop {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #zachFeeble {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #ryanBSflip {
        max-width: 100%;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #willKrook {
        max-width: 100%;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        align-self: center;
    }

    #daltonSmith {
        max-width: 100%;
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }


    /*----- END TEAM PAGE MEDIA -----*/








}
